<?xml version="1.0"?>

<model>
  <name>Turtlebot3 Custom</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ashwin Gur</name>
    <email>agur9842@uni.sydney.edu.au</email>
  </author>

  <description>
    Turtlebot3 Custom Map
  </description>
</model>
